annotated-types==0.7.0
archinstall==4.3
attrs==26.1.0
btrfsutil==6.19.1
certifi==2026.4.22
cffi==2.0.0
charset-normalizer==3.4.7
configobj==5.0.9
cryptography==47.0.0
filelock==3.29.0
idna==3.13
Jinja2==3.1.6
jsonpatch==1.33
jsonpointer==3.1.1
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
linkify-it-py==2.1.0
louis==3.37.0
markdown-it-py==4.0.0
MarkupSafe==3.0.3
mdurl==0.1.2
netifaces==0.11.0
nftables==0.1
oauthlib==3.3.1
packaging==26.2
platformdirs==4.9.6
pycparser==3.0
pydantic==2.12.5
pydantic_core==2.41.5
Pygments==2.20.0
pyparted==3.13.0
pyserial==3.5
PyYAML==6.0.3
referencing==0.37.0
Reflector==2023.6.28.0.36.1
requests==2.33.1
rich==15.0.0
rpds-py==0.30.0
textual==8.2.4
typing-inspection==0.4.2
typing_extensions==4.15.0
uc-micro-py==2.0.0
urllib3==2.6.3
validate==5.0.9
wheel==0.47.0
